body{
    margin:5px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
}

main>div{
    display: inline-block;
    border: 1px dashed black;
    border-bottom: 1;
    border-top: 1;
    min-height: 25vh;
    margin: 10px;
    padding: 10px;
    height: 50vh;
    min-width: 400px;
    font-size: 30px;
}

@media only screen and (max-width: 375px) and (min-width:600px) {
    body{
        margin:5px;
    }

    .container{
        display: inline;
        justify-content: center;
        align-items: stretch;
        margin: 20px 0; 
    }

    main{
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        justify-content: center;
    }
    
    main>div{
        display: inline-block;
        border: 1px dashed black;
        border-bottom: 1;
        border-top: 1;
        min-height: 25vh;
        margin: 10px;
        padding: 10px;
        height: 50vh;
        min-width: 250px;
        font-size: 30px;
    }

    
}