/*Dekstop*/
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: red;
    height: 100px;
    font-size: 2em;
    margin-bottom: 8px;
}
body{
    width:100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 10px;
    padding: 0 10px;

}

.number1{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
    

.number2{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
   
}

.number3{
    border: 1px solid black;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.number4{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.number5{
    background-color: yellow;   
    font-size: 2em; 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.number6{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.number7{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
    
}

.number8{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffffff;
    grid-column-start: 4 ;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.number9{
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2em;
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 6;
   grid-row-end: 8;

}

.number10{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}

.number11{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
}
   
@media screen and (max-width: 520px){
    /*Mobiles first*/

    .number1{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .number2{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2; 
        grid-row-end: 3;
    }
    .number3{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .number4{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .number5{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .number6{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .number7{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    .number8{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 11;
    }
    .number9{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 12;
    }
    .number10{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 12;
        grid-row-end: 13;
    }
    .number11{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 13;
        grid-row-end: 14;
    }
}
